
baseURL = "https://unicornumr1314.github.io/"
title = "Uni星人"
languageCode = "zh-CN"

theme = "DoIt"

[params.search]
enable = true
type = "fuse"
maxResultLength = 10
highlightTag = "mark"
absoluteURL = false
contentLength = 400

[params.search.fuse]
isCaseSensitive = false
minMatchCharLength = 2
findAllMatches = false
location = 0
threshold = 0.3
distance = 100
ignoreLocation = true
useExtendedSearch = false
ignoreFieldNorm = false

[params.page.comment]
enable = true

[params.page.comment.giscus]
enable = true
dataRepo = "UnicornUMR1314/unicornumr1314.github.io"
dataRepoId = "R_kgDOOTJ8uw"
dataCategory = "General"
dataCategoryId = "DIC_kwDOOTJ8u84CoxOQ"
dataMapping = "pathname"
dataStrict = "0"
dataReactionsEnabled = "1"
dataEmitMetadata = "0"
dataInputPosition = "bottom"
lightTheme = "light"
darkTheme = "dark"
dataLang = "zh-CN"
dataLoading = "lazy"

defaultContentLanguage = "zh-cn"

[languages]
  [languages.en]
    weight = 1
    title = "Uni Alien"
    languageCode = "en"
    languageName = "English"
    [[languages.en.menu.main]]
      identifier = "posts"
      pre = ""
      post = ""
      name = "Posts"
      url = "/posts/"
      title = ""
      weight = 1
    [[languages.en.menu.main]]
      identifier = "tags"
      pre = ""
      post = ""
      name = "Tags"
      url = "/tags/"
      title = ""
      weight = 2
    [[languages.en.menu.main]]
      identifier = "categories"
      pre = ""
      post = ""
      name = "Categories"
      url = "/categories/"
      title = ""
      weight = 3

  [languages.zh-cn]
    weight = 2
    title = "Uni星人"
    languageCode = "zh-CN"
    languageName = "简体中文"
    hasCJKLanguage = true
    [[languages.zh-cn.menu.main]]
      identifier = "posts"
      pre = ""
      post = ""
      name = "文章"
      url = "/posts/"
      title = ""
      weight = 1
    [[languages.zh-cn.menu.main]]
      identifier = "tags"
      pre = ""
      post = ""
      name = "标签"
      url = "/tags/"
      title = ""
      weight = 2
    [[languages.zh-cn.menu.main]]
      identifier = "categories"
      pre = ""
      post = ""
      name = "分类"
      url = "/categories/"
      title = ""
      weight = 3

[outputs]
home = ["HTML", "RSS", "JSON"]
page = ["HTML", "MarkDown"]
section = ["HTML", "RSS"]
taxonomy = ["HTML", "RSS"]

[caches]
  [caches.images]
    dir = ':cacheDir/images'